@keyframes typing{
    0%{
        width: 0%;
    }
    100%{
        width: 100%;
    }
}
@keyframes delete{
    0%{
        width: 100%;
    }
    100%{
        width: 0%;
    }
}

body,html{
    margin: 0px;
    height: 100vh;
    width: 100vw;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../resources/quizzlyBackground.png);
    background-size: 200px;
}
.body{
    width: 90vw;
    height: 90vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    column-gap: 10%;
}
.description,.login-info{
    height: 380px;
    border-radius: 10px;
    padding: 5px;
}
.description{
    display: flex;
    overflow: hidden;
    color: white;
    background-image: linear-gradient(to bottom right, #BD53ED ,#5396ED);
}
.slide{
    min-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.slide span{
    display: inline-block;
    max-width: fit-content;
    white-space: nowrap;
    overflow: hidden;
    font-size: calc(2vw);
    color: white;
    animation: typing 3s;
    font-weight: bolder;
}
.login-info{
    display: flex;
    flex-direction: column;
    background-color: aliceblue;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
}
.login-input{
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    margin-top: 5%;
}
.login-input label{
    margin-bottom: 1%;
    font-size: 1.2rem;
    cursor: pointer;
}
.login-input input{
    height: 30px;
    border: solid;
    border-color: gray;
    border-width: 1px;
    border-radius: 5px;
    outline: none;
    width: 70%;
    padding-left: 7px;
}
.quizzlyIcon{
    margin-top: 2%;
    width: calc(7vw);
}
.name{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    margin-top: 2%;
}
.name span{
    font-size: 2rem;
    font-weight: bold;
    /* background-image: linear-gradient(90deg, #BD53ED ,#5396ED);
    background-clip: text;
    color: transparent; */
}
.login-input:nth-child(5) {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
}
.login-input:nth-child(5) span {
    color: blue;
    cursor: pointer ;
}
.message{
    margin-top: 4%;
    height: 20px;
    text-align: center;
}
.login-button{
    border: none;
    background-color: #BD53ED;
    height: 40px;
    font-size: 1.2rem;
    font-weight: bold;
    width: 70%;
    border-radius: 3px;
    margin-bottom: 2%;
    cursor: pointer;
}
@media (max-width: 600px) {
    body{
        background-size: 100px;
        
    }
    .description{
        display: none;
    }
    .body{
        grid-template-columns: 1fr;
    }
    .message{
        height: 7px;
    }
    .quizzlyIcon{
        width: 80px;
    }
}