@keyframes typing{
    0%{
        width: 0%;
    }
    100%{
        width: 100%;
    }
}
@keyframes delete{
    0%{
        width: 100%;
    }
    100%{
        width: 0%;
    }
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-image: url(../resources/quizzlyBackground.png); */
    background-color: #0b1220;
    background-size: 200px;
    padding-top: 200px;
    padding: 0px;
    font-family: 'Poppin', sans-serif;
}
body, html{
    height: 100%;
    margin: 0px;
}

.body{
    width: 90vw;
    height: 90vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}
.description,.signupinfo{
    border-radius: 15px;
    margin: 10%;
}
.description{
    display: flex;
    overflow: hidden;
    height: 60%;
    background-image: linear-gradient(to bottom right, #BD53ED,#5396ED);
}
.slide{
    min-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.slide span{
    display: inline-block;
    max-width: fit-content;
    white-space: nowrap;
    overflow: hidden;
    font-size: 1.5rem;
    color: white;
    animation: typing 3s;
    font-weight: bolder;
}
.signupinfo{
    display: flex;
    flex-direction: column;
    background-color: aliceblue;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
    padding: 2% 5% 5% 5%;
    margin-top: 4%;
    transition: all 0.5s;
}
.form-group{
    position: relative;
    text-align: center;
    height: 35px;
    margin-bottom: 10%;
}
.form-group input{
    width: 90%;
    border: none;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-color: gray;
    height: 100%;
    outline: none;
    padding-left: 3%;
}

.form-group label{
    position: absolute;
    top: 30%;
    left: 7%;
    color: gray;
    pointer-events: none;
    font-size: 1rem;
}
.name-form-group{
    display: flex;
    column-gap: 6%;
}
.signupinfo span{
    font-size: 2rem;
    height: 70px;
    font-weight: bold;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent; /* Safari (needed) */
    margin-bottom: 3%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.form-group input:focus + label, .form-group input:not(:placeholder-shown) + label {
    top: 1%;
    left: 8%;
    color: #BD53ED;
    font-size: 0.6rem;
    background: transparent;
}
.signupinfo div:nth-child(7){
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
}
.full-statement{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    margin-top: 2%;
}
.login-link{
    color: blue;
    cursor: pointer;
    
}
.signup-button{
    border: none;
    font-size: 1.2rem;
    padding: 1%;
    background: linear-gradient(135deg, #BD53ED 0%, #5396ED 100%);
    width: 50%;
    height: 40px;
    cursor: pointer;
    border-radius: 5%;
    margin-bottom: 2%;
    font-weight: bold;
}
.message{
    color: red;
    text-align: center;
    height: 10px;
    font-size: calc(1.5vw);
}
.quizzlyIcon{
    margin-top: 3%;
    width: 70%;
}
@media (max-width: 600px) {
    body{
        background-size: 100px;
    }
    .body{
        grid-template-columns: 1fr;
    }
    .description{
        display: none;
    }
    .signupinfo{
        width: 75vw;
        margin: 3%;
    }
    .form-group{
        height: 60px;
    }
    .form-group input{
        font-size: 1.2rem;
        padding-bottom: 0px;
    }
}