body, html{
    font-family: 'Poppins', sans-serif;
    height: 100%;
    width: 100%;
    padding: 0px;
    margin: 0px;
    padding: 0px;
    background: #0f172a;
    position: relative;  
}
header{
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    top: 2%;
    right: 10%;
    left: 10%;
    background-color: #0f172a;
    border-radius: 50px;
}
/* body{
    padding-top: 10px;
} */
header div{
    flex: 1;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
header div img{
    width: 100px;
}
.right-header {
    margin-right: 20px;
    justify-content: right;
    column-gap: 50px;
    position: relative;
}
.profile-pic{
    width: 35px;
    border-radius: 90px;
    height: 35px;
    overflow: hidden;
    cursor: pointer;
}
.profile-pic img{
    height: 100%;
    width: 100%;
    color: white;
    object-fit: contain;
    border-radius: 90px;
    /* object-fit: cover; */
}
.quizzes-link, .about-link, .logout-link{
    cursor: pointer;
    color: #BD53ED;
    text-decoration: none;
}
.quizzes-link:hover,.about-link:hover, .logout-link:hover{
    text-decoration: underline solid #BD53ED 2px;
}
.left-header{
    justify-content: left;
    margin-left: 35px;
}
.hidden-menu{
    display: none;
    width: 120px;
    height: fit-content;
    position: absolute;
    top: 70px;
    padding: 10px 20px;
    right: 0px;
    border-radius: 10px;
    background: #0f172a;
    font-weight: 0px;
    /* font-size: 1rem; */
    flex-direction: column;
    row-gap: 10px;
}
.hidden-menu.active{
    display: flex;
}
.exists{
    display: none;
}
.hidden-menu a{
    width: 100%;
    text-align: left;
}
.signup-header-bttn{
    background-color: #BD53ED;
    border: none;
    width: 90px;
    height: 60%;
    border-radius: 10px;
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
    font-size: 1rem;
    color: white;
    cursor: pointer;
}
.input{
    padding-top: 10%;
    display: flex;
    justify-content: center ;
    column-gap: 200px;
    margin: 0px;
    width: 100%;
    height: 350px;
    background-image: url(/public/resources/quizzlyBackground.png);
    background-repeat: no-repeat;
    background-position: center;
    background-color: #0f172a;
}
.quiz-option-button{
    background-color: #BD53ED;
    border: none;
    color: white;
    font-weight: bold;
    height: 50px;
    width: 150px;
    border-radius: 4px;
    font-size: 18px;
    margin-top: 5%;
    cursor: pointer;
}
.beginning-page{
    min-height: 90%;
    width: 95%;
    padding: 2.5%;
    padding-top: 100px;
    background: linear-gradient(to bottom, #BD53ED, #5396ED ,#0f172a);
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: white;
}
.left,.right{
    width: 100%;
}
.right img{
    width: 100%;
}
.headline{
    font-size: 3rem;
    font-weight: bolder;
    margin-bottom: 10px;
    color: #0f172a;

}
.subtext{
    font-size: 1.5rem;
}
.site-info{
    overflow: hidden;
    display: flex;
    height: 100%;
    background-image: linear-gradient(135deg, #BD53ED 0%, #5396ED 100%);
    width: 100%;
}
.site-info div{
    display: flex; 
    justify-content: center;
    align-items: center;
    text-align: center;
    min-width: 100%;
    height: 100%;
    color: white;
    overflow: hidden;    
}
.site-info div span{
    display: inline-block;
    max-width: fit-content;
    white-space: nowrap;
    animation: typing 3s;
    overflow: hidden;
    font-size: calc(5vw);
}
.login-signup-info-style{
    position: fixed;
    left: 25%;
    top: 20%;
    bottom: 20%;
    width: 50%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 3px;
    height: 350px;
    box-shadow: 8px 8px 10px rgba(0, 0, 0, 0.25);
    background-color: #243045;
    color: white ;
    overflow: hidden;
}
.cancel{
    display: flex;
    justify-content: right;
    position: relative;
    right: 2%;
    top: 15%;
}
.cancel-button{
    position: absolute;
    top: 25px;
    right: 10px;
    border: none;
    width: 30px;
    height: 30px;
    border-radius: 70%;
    padding: 0px;
    font-weight: bolder;
    background-color: inherit;
    cursor: pointer;
    color: white;
    font-size: 1.5rem;
}
footer{
    height: 150px;
}
.logo{
    width: 40%;
    margin-top: 5%;
    /* height: 100%; */
    animation: appearLeft 0.5s;
}
.top{
    display: flex;
    position: relative;
    width: 100%;
    height: 20%;
    align-items: center;
    justify-content: center;
}
.top div:nth-child(2){
    display: flex;
    align-items: center;
}
.login-bttn, .signup-bttn {
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
    cursor: pointer;
    justify-content: center;
    font-size: 1.2rem;
    border-radius: 40px;
    border: none;
    height: 18%;
    margin-bottom: 1%;
    font-size: 1.2rem;
    /* background-color: rgba(255,255,255,.18); */
}
.signup-bttn{
    background: linear-gradient(135deg, #BD53ED 0%, #5396ED 100%);
    font-weight: bold;
    color: white;
    animation: appearLeft 0.5s;
}
.signup-bttn:hover{
    background: #243045;
    border-color: #BD53ED;
    border-style: solid;
    border-width: 5px;
}
.login-bttn{
    background: white;
    font-weight: bolder;
    color: #BD53ED;
    animation: appearRight 0.5s;
}
.login-bttn:hover{
    background: transparent;
    border-color: white;
    border-style: solid;
    border-width: 5px;
}
.info-div{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 35%;
    font-size: 1.5rem;
    margin-left: 5%;
    margin-right: 5%;
    animation: appearRight 0.5s;
}
.faded {
    filter: grayscale(70%);
    filter: blur(90%);
    opacity: 0.3;
    pointer-events: none;
    animation: typing 0s;
}
@media (max-width: 768px) {
    .input{
        column-gap: 70px;
    }
    .site-info div span{
        font-size: 150%;
    }
    .input{
        background-size: 80%;      
    }
    .login-signup-info-style{
        width: 80%;
        left: 10%;
    }
    .info-div{
        font-size: 1.2rem;
    }
    .signup-header-bttn{
        width: 70px;
    }
    header{
        right: 2%;
        left: 2%;
    }
    header div img{
        width: 100px;
    }
    .beginning-page{
        grid-template-columns: 1fr;
    }
    .exists{display: flex;}
    .part{display: none;}
}
@keyframes typing{
    0%{
        width: 0%;
    }
    100%{
        width: 100%;
    }
}
@keyframes delete{
    0%{
        width: 100%;
    }
    100%{
        width: 0%;
    }
}
@keyframes appearLeft {
    from{ transform: translateX(-100%); opacity: 0;}
    to{ transform: translateX(0px); opacity: 1;}
}
@keyframes appearRight {
    from{ transform: translateX(100%); opacity: 0;}
    to{ transform: translateX(0px); opacity: 1;}
}