@keyframes typing{
    0%{
        width: 0%;
    }
    100%{
        width: 100%;
    }
}
@keyframes delete{
    0%{
        width: 100%;
    }
    100%{
        width: 0%;
    }
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-image: url(../resources/quizzlyBackground.png); */
    background-color: #0f172a;
    background-size: 200px;
    padding-top: 200px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}
body, html{
    height: 100%;
    margin: 0px;
}

.body{
    width: 90vw;
    height: 90vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}
.description,.signupinfo{
    border-radius: 15px;
    margin: 10%;
}
.description{
    display: flex;
    overflow: hidden;
    height: 60%;
    background-image: linear-gradient(135deg, #BD53ED 0%, #5396ED 100%);
}
.slide{
    min-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.slide span{
    display: inline-block;
    max-width: fit-content;
    white-space: nowrap;
    overflow: hidden;
    font-size: 1.5rem;
    color: white;
    animation: typing 3s;
    font-weight: bolder;
}
.signupinfo{
    display: flex;
    flex-direction: column;
    background-color: #243045;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
    padding: 1% 5% 2% 5%;
    margin-top: 4%;
    transition: all 0.5s;
    position: relative;
}
.form-group{
    position: relative;
    text-align: center;
    height: 35px;
    margin-bottom: 10%;
}
.conf-form-group{
    margin-bottom: 4%;
}
.form-group input{
    width: 90%;
    border: none;
    border-bottom-style: solid;
    border-bottom-width: 3px;
    border-color: #BD53ED;
    border-radius: 5px;
    height: 25px;
    padding-top: 10px;
    outline: none;
    padding-left: 3%;
    font-size: .9rem;
}

.form-group label{
    position: absolute;
    top: 25%;
    left: 7%;
    color: gray;
    pointer-events: none;
    font-size: 1rem;
}
.name-form-group{
    display: flex;
    column-gap: 6%;
}
.signupinfo span{
    font-size: 2rem;
    height: 70px;
    font-weight: bold;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent; /* Safari (needed) */
    margin-bottom: 3%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.form-group input:focus + label, .form-group input:not(:placeholder-shown) + label {
    top: 1%;
    left: 8%;
    color: #BD53ED;
    font-size: 0.7rem;
    background: transparent;
}
.last{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.choice{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    margin-top: 15px;
    margin-bottom: 15px;
    color: white;
}
.login-link{
    color: #BD53ED;
    cursor: pointer;
    margin-left: 10px;
    font-weight: bold;
}
.signup-button{
    border: none;
    font-size: 1.5rem;
    padding: 1%;
    background: linear-gradient(135deg, #BD53ED 0%, #5396ED 100%);
    width: 50%;
    height: 40px;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 2%;
    font-weight: bold;
    color: #243045;
}
.message{
    color: red;
    text-align: center;
    height: 27px;
    font-size: 1.2rem;
    margin-bottom: 2%;
}
.quizzlyIcon{
    margin-top: 3%;
    width: 150px;
}
.design-left{
    position: absolute;
    left: 0;
    top: 0;
    width: 10%;
    height: 7%;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 15px;
    background: linear-gradient(135deg, #BD53ED 0%, #5396ED 100%); 
}
.design-right{
    position: absolute;
    top: 0;
    width: 10%;
    height: 7%;
    right: 0;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    background: linear-gradient(135deg, #BD53ED 0%, #5396ED 100%);
    
}
.design-left-bttm{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 10%;
    height: 7%;
    border-bottom-left-radius: 15px;
    border-top-right-radius: 15px;
    background: linear-gradient(135deg, #BD53ED 0%, #5396ED 100%);
}
.design-right-bttm{
    position: absolute;
    bottom: 0;
    width: 10%;
    height: 7%;
    right: 0;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background: linear-gradient(135deg, #BD53ED 0%, #5396ED 100%);
}
@media (max-width: 700px) {
    body{
        background-size: 100px;
    }
    .body{
        grid-template-columns: 1fr;
    }
    .description{
        display: none;
    }
    .signupinfo{
        width: 75vw;
        margin: 3%;
    }
    .form-group{
        height: 40px;
    }
    .form-group input{
        font-size: 16px;
        padding-bottom: 0px;
    }
    input{
        font-size: 10px;
    }
}
button:active{
    transform: scale(0.95);
}
* {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
}