body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(../resources/quizzlyBackground.png);
    background-size: 300px;
    padding-top: 200px;
    background-color: #0f172a;
}
.input-id{
    border: none;
    outline: none;
    border-radius: 50px;
    margin-bottom: 30px;
    width: 350px;
    height: 40px;
    text-align: center;
    font-size: 0.8rem;
}
.submit{
    border: none;
    border-radius: 50px;
    background: linear-gradient(135deg, #BD53ED 0%, #5396ED 100%);
    color: white;
    width: 350px;
    font-weight: bolder;
    height: 50px;
    font-size: x-large;
    cursor: pointer;
}
.input-id::placeholder{
    text-align: center;
    opacity: 0.6;
    font-size: 1.2rem;
}
@media (max-width: 600px) {
    body{
        background-size: 150px;
    }
}