body, html{
    width: 100%;
    min-height: 100vh;
    margin: 0px;
    background-color: #0f172a;
}
body{
    font-family: 'Roboto', sans-serif;
    font-size: 1.4rem;
    color: white;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
header{
    height: 100px;
    width: 100%;
    position: fixed;
    top: 0px;
    background-color: red;
}
.spec-main{
    background-color: #243045;
    width: 80%;
    min-height: 250px;
    padding-top: 20px;
    padding-bottom: 50px;
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    position: relative;
}
.options,.question-div,.answer-area{
    margin: 0px 30px;
}
.question-div{
    margin-top: 10px;
    min-height: 70px;
}
.options{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
.option{
    display: flex;
    align-items: center;
    column-gap: 10px;
    min-height: 50px;
}
input[type="radio"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 15px;
    height: 15px;
    background-color: transparent;
    border-width: 2px;
    cursor: pointer;
    border-color: white;
    border-style: solid;
    border-radius: 50px;
    margin: 0px;
}
input[type="radio"]:checked {
    background: #BD53ED;
    border-color: transparent;
    backdrop-filter: blur(4px);
}
.next-bttn,.previous-bttn{
    border: none;
    border-radius: 6px;
    background: linear-gradient(135deg, #BD53ED 0%, #5396ED 100%);
    width: 80px;
    height: 35px;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    position: absolute;
    bottom: 10px;
    cursor: pointer;
}
.next-bttn{
    right: 30px;
}
.previous-bttn{
    right: 130px;
}
.answer-area{
    outline: none;
    border: 1px solid white;
    background: rgba(255, 255, 255, 0.05);
    min-height: 200px;
    resize: none;
    border-radius: 5px;
    color: white;
    padding: 5px;
    margin-bottom: 30px;
    width: calc(80vw - 70px);
    display: flex;
    font-size: 1.2rem;
    display: none;
    font-family: 'Roboto', sans-serif;
}
button:active{
    transform: scale(0.95);
}
* {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
}
.faded {
    filter: grayscale(90%);
    filter: blur(90%);
    opacity: 0.3;
    pointer-events: none;
    animation: typing 0s;
}
.finish-main{
    color: white;
    padding-top: 50px;
    width: 100%;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}
.score-ring{
    width: 200px;
    height: 200px;
    position: relative;
    border-radius: 100px;
    margin-bottom: 50px;
}
.score-value{
    position: absolute;
    top: 12.5px;
    left: 12.5px;
    width: 175px;
    height: 175px;
    background: #0f172a;
    border-radius: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 3rem;
    font-weight: bold;
}
.subject{
    display: flex;
    align-items: center;
    font-size: 2rem;
    margin-bottom: 80px;
    font-weight: bold;
    height: 70px;
    overflow: hidden;
}
.subject div{
    animation: arrive 2s;
}
.noQues-div, .score-percentage, .home-div{
    margin-bottom: 30px;
    font-size: 1.2rem;
    animation: fadein 2s;
    display: none;
}
.home-div{
    margin-bottom: 80px;
}
.home-div a{
    color: #BD53ED;
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    animation: fadein 2s;
}
@keyframes fadein {
    from{opacity: 0;}
    to{opacity: 1;}
}
@keyframes arrive {
    from{transform: translateY(-300px);}
    to{transform: translateY(0px);}
}